<form action="<%= url %>" method="post">
  <%= csrf_tag %>
  <input type="hidden"
         name="_method"
         value="<%= http_method %>">

  <input type="hidden"
         name="task[project_id]"
         value="<%= passed_in_project_id %>">

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Name <br>
      <input type="text" name="project[name]" value="">
    </label>
  </div>
  <div class="actions">
    <input type="submit" value="<%= button_message%> Project">
  </div>

</form>
